<!-- views/cars_edit.ejs -->
<!-- RECEIVES: oneCar [a single car object] + brands [array of brand objects] -->

<h1><%=header%></h1>

<p><a href='/actor/list'>Back to the list</a></p>
<!-- body-parser ==> we cannot use multipart/form-data ==> no file uploads -->
<form action='/actor/update/<%= oneActor.id_actor %>' method='post'
            enctype='application/x-www-form-urlencoded'>
<table class="table table-striped table-bordered table-hover">
    <tr><td>Name: </td>
        <td><input type='text' name='name' value='<%= oneActor.name %>' /></td></tr>
    <tr><td>Role:</td>
        <td><input type='text' name='role' value='<%= oneActor.role %>' /></td></tr>
    <tr><td>Rewards:</td>
        <td><input type='text' name='rewards' value='<%= oneActor.rewards %>' /></td></tr>
    <tr><td>Birthdate:</td>
        <td><input type='date' name='birthdate' value='<%= oneActor.birthdate %>' /></td></tr>
    <tr><td>Nationality:</td>
        <td><input type='text' name='nationality' value='<%= oneActor.nationality %>'/></td></tr>
    <tr><td colspan='2'> <input type='submit' value='SEND' /> </td></tr>
</table>
</form>
</body>
</html>