<!-- views/movie_list.ejs -->
<h1>List of Movies</h1>
<% if (flashMessage) { %>
    <p style='color:red'><%= flashMessage %></p>
<% } %>

<p><a href='/movie/edit/0'>Add a new movie</a></p>

<table >
    <tr align="center">
        <td>ID</td>
        <td>Title</td>
        <td>Gender</td>
        <td>Summary</td>
        <td>Grade</td>
        <td>Age require</td>
        <td>Language</td>
        <td>Production Price</td>
        <td>Duration</td>
        <td>Projection Format</td>
    </tr>
    
    <% for (var c of movies) { %>
    <tr align="center">
        <td><%= c.id_movie  %></td>
        <td><%= c.movie_title %></td>
        <td><%= c.gender %></td>
        <td><%= c.summary%></td>
        <td><%= c.grade%></td>
        <td><%= c.age_require%></td>
        <td><%= c.languages %></td>
        <td><%= c.production_price%></td>
        <td><%= c.duration%></td>
        <td><%= c.projection_format%></td>
        <td><a href='/movie/show/<%= c.id_movie%>'>Show</a></td>
        <td><a href='/movie/edit/<%= c.id_movie%>'>Edit</a></td>
        <td><a href='/movie/delete/<%= c.id_movie%>'>Delete</a></td>
        <td><a href="/participate/actors/<%= c.id_movie%>">All actors</a></td>
        <td><a href="/broadcast/rooms/<%= c.id_movie%>">All rooms</a></td>
    </tr>
    <% } %>
</table>
</body>
</html>